<div class="container-fluid" style="margin-top: 10px;">
    <div class="row vertical-align">
      <div class="col-md-12">
        <form name="form" (ngSubmit)="searchDocument()" novalidate class="form-inlines">
          <div class="col-sm-4 col-md-4">
            <div class="form-group">
              <label for="firstName">Collection</label>
              <input type="text" class="form-control" name="collectionName" [(ngModel)]="model.collectionName" required />
            </div>
          </div>
          <div class="col-sm-4 col-md-4">
            <div class="form-group">
              <label for="lastName">Document Id</label>
              <input type="text" class="form-control" name="documentId" [(ngModel)]="model.documentId" required />
            </div>
          </div>
          <button class="btn btn-success" style="margin-top: 25px;">View JSON</button>
          <button class="btn btn-success" style="margin-top: 25px; margin-left:10px;" *ngIf="items && items.length!=0" (click)="generateDownloadJsonUri()">Download JSON</button>
        </form>
      </div>
    </div>
    <div class="row">
       <div class="col-md-12 offs et-md-4">
          <ngx-json-viewer [json]="items" *ngIf="items"></ngx-json-viewer>
          <div *ngIf="errorMessage">{{errorMessage}}</div>
       </div>
    </div>
</div>
